<%= render 'common/page_title', text: 'New Product' %>

<%= render 'form', product: @product %>

<div class="flex justify-center mt-3">
  <%= link_to 'Back', products_path, class: 'btn btn-secondary' %>
</div>
